a {
	color: #527bbd;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #527bbd;
}

p {
	text-align: justify;
}

nav {
	text-align: right;
}

nav ul li {
	display: inline;
	list-style-type: none;
}

nav ul li > a {
	color: #527bbd;
	text-decoration: none;
}

table.grid-none td.tableblock {
	border-style: none;
}

h3 {
	float: none;
	border-bottom-width: 1px;
}
